@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #03A678, #02735E);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #014040af;
    width: 600px;
    padding: 10px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 80px;
}

.container {
    border-bottom: 1px solid #731702;
}

h1 {
    color: #731702;
    text-align: center;
    text-shadow: 1px 1px 2px #703b2fa4;
}

h2 {
    color: #F27405;
}

h3 {
    color: #03A678;
}
p {
    text-align: justify;
}